$primaryColor: #2596be;
$bannerH1Color: white;
$secondaryColor: #000000;

body {
    font-family: 'Barlow', sans-serif;
    background-color: #f5f5f5;
}

.custom-btn {
    background-color: #e8e8e8;
    border: none;
    border-radius: 8px;
    padding: 10px 14px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}
.read-btn {
    font-family: Poppins;
    padding: 15px 30px;
    background-color: transparent;
    color: #808080;
}

.read-btn:hover {
    background-color: #1e83a8;
    color: #fff;
}

.offcanvas {
    flex-direction: row;
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #1e83a8;
}

.nav-link:hover {
    color: #1e83a8;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.custom-btn {
    background-color: #2596be;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.custom-btn:hover {
    background-color: #063c43;
    color: #fff;
}

.btn-class {
    background-color: #2595be1a;
    color: #2596be;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.btn-class:hover {
    color: #2596be;
}

.login .active {
    background-color: #2596be;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
}

.login .active:hover {
    color: #fff;
}

.container-fluid {
    padding: 0;
}

.banner {
    background-image: url('../../images/gallery/header-banner-gallery.jpg');
    height: 40vh;
    background-size: cover;
    background-position: center;

    h1 {
        color: $bannerH1Color;
    }

}

// .Gallerylisting{
//     .left{
//         img {
//             width: 100%;
//             height: 90vh;
//             transition: opacity 0.3s;

//             &:hover {
//                 opacity: 0.7; // Reduce the opacity of the image on hover

//                 + .hoverSlide {
//                     display: block;
//                 }
//             }
//         }
//     }
//     .right img{
//         width: 100%;
//     }
//     .hoverSlide{
//         display: none;
//         z-index: 2;
//         transform: translate(50vh, 40vh);
//         i{
//             border-radius: 50%;
//             font-size: 30px;
//             height: 50px;
//             width: 50px;
//         }

//         .Gallerylisting:hover + & {
//             display: flex;
//         }
//     }

// }

.Gallerylisting {
    .left {
        img {
            width: 100%;
            height: 90vh;
            transition: opacity 0.3s;
            position: relative;

            &:hover {
                opacity: 0.7; // Reduce the opacity of the image on hover
                + .hoverSlide {
                  display: block;
                }
            }
        }
        

        .hoverSlide {
            display: none;
            z-index: 2;
            transform: translate(50vh, 40vh);

            i {
                border-radius: 50%;
                font-size: 30px;
                height: 50px;
                width: 50px;
            }
        }
    }

    .right img {
        width: 100%;
    }
}

footer {
    padding: 80px 0;
    background-color: #063c43;
}

footer button {
    background-color: #1e83a8;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}